{% block content %}
<div class="intro"><h2>Exporting to plaintext files</h2></div>
<div class="articles-list topics">
  {% for post in posts %}
<pre><code>
{{ post.title }}
TS: {{ post.time }}
{{ post.body }}
</code></pre>
  {% endfor %}
</div>
{% endblock content %}

