{% extends "base" %}

{% block content %}
<!-- __tera_context {{ __tera_context }} So useful, so obscure -->
<div class="articles-list front">
  {% for post in posts %}
    <div class="article id-{{ post.id }} loop-{{ loop.index }}">
      <div class="title"><h2>{{ post.title }}</h2></div>
      <div class="time">TS: {{ post.time }}</div>
      <div class="body">{{ post.body }}</div>
    </div>
  {% endfor %}
<!-- Cause fuck pagers {{ __tera_context }} -->
</div>
{% endblock content %}
