<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9
            http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
  <url>
    <loc>https://gatewaynode.com/</loc>
    <lastmod>"{% set lastfrontpost = front | first %}{{ lastfrontpost.time | truncate(length=19, end='')}}-04:00"</lastmod>
    <priority>1.00</priority>
  </url>
  <url>
    <loc>https://gatewaynode.com/posts.html</loc>
    <lastmod>"{% set lastpostpost = all | last %}{{ lastpostpost.time | truncate(length=19, end='')}}-04:00"</lastmod>
    <priority>0.80</priority>
  </url>
  <url>
    <loc>https://gatewaynode.com/links.html</loc>
    <lastmod>"{% set lastlink = links | last %}{{ lastlink.time | truncate(length=19, end='')}}-04:00"</lastmod>
    <priority>0.80</priority>
  </url>
  <url>
    <loc>https://gatewaynode.com/rust.html</loc>
    <lastmod>"{% set lastrustpost = rust | first %}{{ lastrustpost.time | truncate(length=19, end='')}}-04:00"</lastmod>
    <priority>0.80</priority>
  </url>
  <url>
    <loc>https://gatewaynode.com/python.html</loc>
    <lastmod>"{% set lastpythonpost = python | first %}{{ lastpythonpost.time | truncate(length=19, end='')}}-04:00"</lastmod>
    <priority>0.80</priority>
  </url>
  <url>
    <loc>https://gatewaynode.com/bash.html</loc>
    <lastmod>"{% set lastbashpost = python | first %}{{ lastbashpost.time | truncate(length=19, end='')}}-04:00"</lastmod>
    <priority>0.80</priority>
  </url>
{% for post in all %}  <url>
    <loc>https://gatewaynode.com/post/{{post.id}}.html</loc>
    <lastmod>"{{ post.time | truncate(length=19, end='')}}-04:00"</lastmod>
    <priority>0.64</priority>
  </url>
{% endfor %}</urlset>
